.tp-header{
  text-align: center;
  margin: 20px;
  font-family: 'Bree Serif', serif;
  font-size: 140%;

}

title {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 130%;
}

input[type='radio']{
transform: scale(2);
margin: 40px;

}

input[type='text']{
  transform: scale(1.2);
  margin-left: 20px;
}

h1{
  font-size: 150%;
  font-family: 'Bree Serif', serif;
  align-self: auto;
  color: blue;
  font-style: bold;
}

.lp-header{
  text-align: center;
  margin: 40px;

}

div{
  margin: 20px;
}

.search-options{
  text-align: center;
  align-self: center;
  margin-left: 20px;

}
